<p>
    <strong><%= comment.user.email %>: </strong><%= comment.content %>
    <% if comment.user == current_user %>
        <%= link_to 'Delete Comment', discussion_comment_path(@discussion, comment),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    <% end %>
</p>