<p>
    <strong><%= comment.user.email %>: </strong><%= comment.content %>
    <%= link_to 'Delete Comment', discussion_comment_path(@discussion, comment),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>