<h1>New article</h1>
 
 <div class="row">
    <div class="col s12">
        <%= render 'form' %>
    </div>
</div>

<%= link_to articles_path do %>
  <div class="valign-wrapper black-text">
    <i class="material-icons">arrow_back</i> Back
  </div>
<% end %>
