// TODO: Change application colors
@import "materialize/components/color-variables";
$primary-color: #3F3F3F !default;
$secondary-color: #FFCA28 !default;

// Materialize
@import 'materialize';

// Materialize Icons
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.text-primary-color {
  color: $primary-color;
}
.text-secondary-color {
  color: $secondary-color;
}

nav {
  padding-left: 16px;
  padding-right: 16px;
}

main {
  min-height: 80vh
}

@import 'discussions';
@import 'articles';
@import 'comments';
@import 'teams';
@import 'users';