// Place all the styles related to the Playbooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.playbook .card-content {
    overflow: hidden;
    height: 160px;
}

.playbook-image {
    width: 400px; height: 400px;
}

.playbook-show .starring i {
    padding: 0 16px;
    color: black;
    &.starred {
      color: $secondary-color;
    }
}