.profile {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  .user-image {
    width: 200px; height: 200px;
    border-radius: 50%;
  }

  h7 ~ h5 {
    margin-top: 0 !important;
  }
}

.starred-discussions {
  .starred-discussion {
    .card {
      padding: 4px;
      padding-left: 16px; padding-right: 16px;
    }

    a { color: black; }
  }
}
.starred-playbooks {
  .starred-playbook {
    .card {
      padding: 4px;
      padding-left: 16px; padding-right: 16px;
    }

    a { color: black; }
  }
}